# dependencies
node_modules/
frontend/node_modules/
admin/node_modules/

# env files
.env

# build output
dist/
build/

# logs
*.log
npm-debug.log*

# vite
.vite/

# uploads
backend/uploads/**
!backend/uploads/.gitkeep

# OS / editor
.DS_Store
Thumbs.db
.vscode/
